body {
  background-color: #adadad;
}
#menubar ul li a:link {
  color: white; text-decoration: none;
}
#menubar ul li a:visited {
  color: white; text-decoration: none;
}
#menubar ul li a:hover {
  color: white; text-decoration: underline;
}

#menubar {
  width:99%;
  margin : 0 auto;
  margin-top : 10px;
  background-color: white;
  height : 80px;

}
#menubar ul {
  float: right;
}

#menubar ul li {
  display: inline-block;
  padding : 10px;
  color : white;
  width : 80px;
  height : 20px;
  text-align: center;
  border-style: 1px solid #444444;
  background-color: #444444;
  font : Dotum;
  margin-left : 10px;
  box-shadow: 1px -1px 5px 0px #444444;
  cursor:pointer;

}

#menubar ul li:last-child {
  margin-right: 10px;
}

#container {
  width:99%;
  margin : 0 auto;
  margin-top : 10px;
  background-color: white;
  height : 1000px;
  text-align: center;
}

#container ul {
  padding-right: 40px;
}

#container ul li {
  display: inline-block;
  color : white;
  border-style: 1px solid #444444;
  background-color: #444444;
  width : 100px;
  height : 100px;
  box-shadow: 1px -1px 5px 0px #444444;
  margin-right : 10px;
  line-height: 100px;
  cursor:pointer;
}

#aboutme-container {
  width:99%;
  margin : 0 auto;
  margin-top : 10px;
  background-color: white;
  height : 100%;
  text-align: left;
}

#aboutme-container div {
  width: 800px;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

#aboutme-container div span{
  font-size: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
}

#photo-container {
  width:99%;
  margin : 0 auto;
  margin-top : 10px;
  background-color: white;
  height : 1000px;

}
#photo-container img {
  width: 300px;
  height: 300px;
  border: 5px solid grey;
}

#photo-container1{
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 50px;
  height : 400px;
}

#image1 {
  float:left;
}
#information1 {
  float : right;
  padding-right :300px;
  line-height: 200%;
  width: 400px;
}

#photo-container2{
  border-top: 3px solid grey;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 50px;
  height : 400px;
}

#footer {
  width:99%;
  margin : 0 auto;
  margin-top : 10px;
  margin-bottom : 50px;
  background-color: white;
  height : 80px;
  text-align: center;
  line-height: 80px;
  font-family: 'Oswald', sans-serif;
}


#content1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
}

#content2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
}
#empty {
  height : 50px;
}
