#cardList {
  margin-left:  100px;
}

#cardList div ul {
  padding-left: 5px;
}

#cardList div ul li:first-child {
  font-size: 15px;
  list-style: none;
  background-color: lightskyblue;
  color: white;
  height: 20px;
  padding: 20px;
}

#cardList div ul li {
  font-size: 20px;
  list-style:none;
  background-color: powderblue;
  color : white;
  height:30px;
  padding: 20px;
  margin-bottom: 15px;
}

#cardList div {
  float:left;
  width:370px;

  margin-right: 10px;
}
#menubar ul li a:link {
  color: white; text-decoration: none;
}
#menubar ul li a:visited {
  color: white; text-decoration: none;
}

#menubar {
  width:99%;
  margin : 0 auto;
  margin-top : 10px;
  background-color: white;
  height : 80px;

}
#menubar ul {
  float: right;
}
#menubar ul li {
  display: inline-block;
  text-align: center;
  border-style: 1px solid skyblue;
  font : Dotum;
  margin-left : 10px;
  !-box-shadow: 1px -1px 5px 0px skyblue;
  cursor:pointer;
}

#menubar ul li a {
  background-color: skyblue;
  padding : 10px;
}
#menubar ul li:last-child {
  margin-right: 10px;
}

#registerTodolist_Title {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#registerTodolist_contents_out{
  width: 100%;
  text-align: center;
}
#registerTodolist_contents{
  display: inline-block;
  text-align: left;
}

#registerTodolist_contents ul {
  padding-left: 0px;
  margin-top: 3px;
}
#registerTodolist_contents ul li {
  list-style:none;
}

#registerTodolist_contents ul li input {
  padding-left: 10px;
  height: 27px;
  border-style: 1px solid black;

}
#submitButton {
  background-color: skyblue;
  border-width: 0px;
  height: 30px;
  width: 100px;
  color: white;
  cursor:pointer;
}

#resetButton {
  background-color: skyblue;
  border-width: 0px;
  height: 30px;
  width: 100px;
  color: white;
  cursor:pointer;
}

#previousButton{
  background-color: white;
  border-width: 0px;
  height: 32px;
  width: 90px;
  color: black;
  border: 0.5px solid black;
  margin-right: 75px;
  cursor:pointer;
}

#registerTodolist_bottom{
  margin-top: 25px;
}
